.foots
{
    background-color: hsla(100,20%,60%,0.2);
    padding: 3em;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 15px;
    
}

.footing
{
    font-size: 3vw;
    font-family: Helvetica, arial, sans-serif;
}

.subs
{
    font-size: 0.8vw;
    font-family: Helvetica, arial, sans-serif;
    font-style: italic;
}